<div class="swiper-container">
  <swiper [config]="config2" class="swiper-wrapper">
    <div class="swiper-slide">
      <div class="testimonial-single">
        <div class="client-img">
          <div class="client-img-single">
            <img src="./assets/img/user.png" alt="Milan Lee">
          </div>
          <div class="right-icon">
            <i class="fas fa-quote-right"></i>
          </div>
        </div>
        <div class="client-name">
          <p>Milan Lee</p>
        </div>
        <div class="client-comment">
          <p>He is a gold mine. He is an excellent communicator. I will be using his services for days to come. </p>
        </div>
      </div>
    </div>
  </swiper>
</div>
