<div class="swiper-container">
  <swiper [config]="config2" class="swiper-wrapper">
    <div class="swiper-slide" *ngFor="let client of clients; index as i;">
      <div class="testimonial-single">
        <div class="client-img">
          <div class="client-img-single">
            <img src="./assets/img/user.png" alt="Milan Lee">
          </div>
          <div class="right-icon">
            <i class="fas fa-quote-right"></i>
          </div>
        </div>
        <div class="client-name">
          <h5>{{client.name}}</h5>
        </div>
        <div class="client-comment">
          <p>{{client.des}}</p>
        </div>
      </div>
    </div>
  </swiper>
</div>
