<header id="menu">
  <nav class="navbar container">
    <div class="navbar-brand">
      <a href="#">Habib</a>
      <button class="transparent-btn" (click)="menu()">
        <i class="fas fa-bars"></i>
      </button>
    </div>
    <div class="navbar-menu">
      <ul>
        <li><a [routerLink]="['/']">Home</a></li>
        <li><a [routerLink]="['about']">About</a></li>
        <li><a [routerLink]="['underbuild']">Service</a></li>
        <li><a [routerLink]="['underbuild']">Portfolio</a></li>
        <li><a [routerLink]="['underbuild']">Contact</a></li>
      </ul>
      <ul class="navbar-social">
        <li>
          <a href="https://www.linkedin.com/in/devhabib/">
            <i class="fab fa-linkedin-in"></i>
          </a>
        </li>
        <li>
          <a href="https://github.com/DevHabib">
            <i class="fab fa-github"></i>
          </a>
        </li>
      </ul>
    </div>
  </nav>
</header>
