@import "/src/assets/stylesheet/variable", "/src/assets/stylesheet/mixins", "/src/assets/stylesheet/functions",
  "/src/assets/stylesheet/misc";

header {
  @include mobile-landscape {
    background-color: $background2;
    padding: 10px 0;
    position: sticky;
    top: 0;
    z-index: 999;
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    line-height: 3.5;
    transition: all 0.3s ease-in-out;

    @include mobile-landscape {
      display: block;
      line-height: 1;
      width: 100%;
      max-width: 100%;
      padding: 0 15px;
      margin-right: auto;
      margin-left: auto;
    }

    &-brand {
      @include mobile-landscape {
        display: flex;
        justify-content: space-between;
        padding-bottom: 10px;
      }

      a {
        font-size: size(3);
        font-weight: $bold;
        color: $primary-link;
        font-family: $primary-font;
      }

      .transparent-btn {
        display: none;
        background-color: transparent;
        color: #fff;
        border: none;
        outline: none;

        &:focus {
          outline: none;
        }

        @include mobile-landscape {
          display: block;
        }
      }
    }

    &-menu {
      display: flex;
      align-items: center;
      column-gap: size(1.5);

      @include mobile-landscape {
        max-height: 0;
        transition: max-height 0.15s ease-out;
        overflow: hidden;
      }

      ul {
        @extend %flex;
        list-style: none;
        column-gap: size(2);
        margin-bottom: 0;

        @include mobile-landscape {
          display: block;
          padding-left: 0;
        }

        li {
          @include mobile-landscape {
            padding: 10px 0;
          }

          a {
            color: $secondary-color;
            @extend %transition;
            font-family: $secondary-font;

            &:hover {
              color: $primary-color;
            }

            &.active {
              color: $primary-color;
            }
          }
        }
      }
    }

    &-social {
      padding-left: 0;

      @include mobile-landscape {
        display: none !important;
      }
    }
  }

  &.active {
    .navbar-menu {
      border-top: 1px solid $secondary-color;
      margin: 0 -15px;
      padding: 0 15px;
      max-height: 500px;
      transition: max-height 0.25s ease-in;
    }
  }
}
