<main>
  <section class="about">
    <div class="container">
      <div class="row h-100 align-center">
        <div class="col-md-5">
          <div class="about-img">
            <img src="../../../../assets/img/habib.png" alt="Habib, devhabib">
          </div>
        </div>
        <div class="col-md-7">
          <div class="section-title">
            <div class="section-title-mini">
              <p>About Me</p>
            </div>
            <div class="section-title-big">
              <h3>Here are some things about me</h3>
            </div>
          </div>
          <div class="about-content">
            <p>I'm Habibur Rahman but People calls me Habib & I'm from Sylhet, Bangladesh. I'm working as a professional Web Designer and Developer for more than 3 years. I always get excited to learn new technologies, new methods. I try to update myself with latest trends. </p>
            <p>I enjoy taking complex problems and turn them into simple and unique solution.</p>
            <p>Currently I'm working on a company named <strong>YOTECH Limited</strong> as a Web Developer.</p>
            <div class="about-social">
              <span>Find me on : </span>
              <ul>
                <li>
                  <a href="https://twitter.com/DevHabib" target="_blank"><i class="fab fa-twitter"></i></a>
                </li>
                <li>
                  <a href="https://github.com/DevHabib" target="_blank"><i class="fab fa-github-alt"></i></a>
                </li>
                <li>
                  <a href="https://www.linkedin.com/in/devhabib/"><i class="fab fa-linkedin-in" target="_blank"></i></a>
                </li>
                <li>
                  <a href="https://www.fiverr.com/habib013"><img src="./assets/img/fiverr.svg" alt="" target="_blank"></a>
                </li>
              </ul>
            </div>
            <a href="mailto:contact@devhabib.com?subject=Mail from About Page" class="primary-btn" type="button">Let's Talk</a>
          </div>
        </div>
      </div>
      <div class="row h-100">
        <div class="col-lg-4 col-md-6 mid-gap">
          <div class="about-details">
            <div class="about-details-icon">
              <img src="../../../../assets/img/design.svg" alt="">
            </div>
            <div class="about-details-top">
              <h3>Web Designer</h3>
              <p>I value simple content structure, clean design patterns, and thoughtful interactions.</p>
            </div>
            <div class="about-details-content">
              <div class="about-details-single">
                <h4>Language I speak</h4>
                <p>
                  <span>HTML5</span>
                  <span>CSS3</span>
                  <span>SCSS</span>
                  <span>Bootstrap</span>
                  <span>Bulma</span>
                  <span>Materialize</span>
                </p>
              </div>
              <div class="about-details-single">
                <h4>Tools I use</h4>
                <p>
                  <span>Visual Studio Code</span>
                  <span>Git</span>
                  <span>Bitbucket</span>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mid-gap">
          <div class="about-details">
            <div class="about-details-icon">
              <img src="../../../../assets/img/development.svg" alt="">
            </div>
            <div class="about-details-top">
              <h3>Front End Developer</h3>
              <p>I like to code things from scratch, and enjoy bringing ideas to life in the browser. </p>
            </div>
            <div class="about-details-content">
              <div class="about-details-single">
                <h4>Languages I speak</h4>
                <p>
                  <span>Angular</span>
                  <span>TypeScript</span>
                  <span>JavaScript</span>
                  <span>jQuery</span>
                </p>
              </div>
              <div class="about-details-single">
                <h4>Tools I use</h4>
                <p>
                  <span>Visual Studio Code</span>
                  <span>Git</span>
                  <span>Bitbucket</span>
                  <span>Gitlab</span>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="about-details">
            <div class="about-details-icon">
              <img src="../../../../assets/img/freelance.svg" alt="">
            </div>
            <div class="about-details-top">
              <h3>Freelancer</h3>
              <p>Freelancing is one of my hobby. I like to communicate with different peoples and I always enjoy work on different kind of projects.</p>
            </div>
            <div class="about-details-content">
              <div class="about-details-single">
                <h4>I work with</h4>
                <p>
                  <span>Front End Development</span>
                  <span>Web Design</span>
                  <span>Bug Fixing</span>
                </p>
              </div>
              <div class="about-details-single">
                <h4>I work on</h4>
                <p>
                  <span>Fiverr</span>
                  <span>upWork</span>
                  <span>Locally</span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
