<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="footer-bottom">
          <ul class="footer-menu">
            <li><a href="https://github.com/DevHabib">Github</a></li>
            <li><a href="https://twitter.com/DevHabib">Twitter</a></li>
            <li><a href="https://www.instagram.com/dev_habib/">Instagram</a></li>
            <li><a href="https://www.linkedin.com/in/devhabib/">linkedin</a></li>
          </ul>
          <p>Copyright &copy; Habib Rahman</p>
        </div>
      </div>
    </div>
  </div>
</footer>
