/* You can add global styles to this file, and also import other style files */
@import "~swiper/swiper-bundle";
@import "./assets/stylesheet/fonts", "./assets/stylesheet/mixins", "./assets/stylesheet/variable",
  "./assets/stylesheet/typography", "./assets/stylesheet/functions", "./assets/stylesheet/misc",
  "./assets/stylesheet/responsive";

body {
  background-color: $background;
  margin: 0px;
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
}
