<main>
  <!-- Hero -->
  <section class="hero">
    <div class="container h-100">
      <div class="row align-center h-100">
        <div class="col-lg-6">
          <div class="hero-content">
            <h2 class="hero-title">Hey, I'm <span>Habibur Rahman.</span></h2>
            <p class="hero-des"> I am a <span>frontend developer</span>, <span>Designer</span>, <span>Freelance Developer</span>, <span>Learner</span> & <span>Web Design Expert</span> currently living in Sylhet, Bangladesh. My interests range from technology to design. I love to develop web application, learn new technologies.</p>
            <div class="hero-social">
              <span>Find me on : </span>
              <ul>
                <li>
                  <a href="#"><i class="fab fa-twitter"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fab fa-github-alt"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fab fa-linkedin-in"></i></a>
                </li>
                <li>
                  <a href="#"><img src="./assets/img/fiverr.svg" alt=""></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="hero-slider">
            <hero-slider></hero-slider>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- /Hero -->
  <!-- workflow -->
  <section class="workflow">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-title">
            <div class="section-title-mini">
              <p>workflow</p>
            </div>
            <div class="section-title-big">
              <h3>Some of my latest projects</h3>
            </div>
          </div>
        </div>
      </div>
      <div class="workflow-wrapper">
        <div class="workflow-item">
          <div class="workflow-item-1 workflow-item-single">
            <a href="#"></a>
          </div>
        </div>
        <div class="workflow-item">
          <div class="workflow-item-2 workflow-item-single">
            <a href="#"></a>
          </div>
        </div>
        <div class="workflow-item">
          <div class="workflow-item-3 workflow-item-single">
            <a href="#"></a>
          </div>
        </div>
        <div class="workflow-item">
          <div class="workflow-item-4 workflow-item-single">
            <a href="#"></a>
          </div>
        </div>
        <div class="workflow-item">
          <div class="workflow-item-5 workflow-item-single">
            <a href="#"></a>
          </div>
        </div>
        <div class="workflow-item">
          <div class="workflow-item-6 workflow-item-single">
            <a href="#"></a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- /workflow -->
  <!-- testimonial -->
  <section class="testimonial">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-title">
            <div class="section-title-mini">
              <p>Testimonial</p>
            </div>
            <div class="section-title-big">
              <h3>What my Clients says</h3>
            </div>
          </div>
        </div>
        <div class="col-lg-12">
          <testimonial-slider></testimonial-slider>
        </div>
      </div>
    </div>
  </section>
  <!-- /testimonial -->
  <!-- Technologies -->
  <section class="technologies">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-title">
            <div class="section-title-mini">
              <p>Technologies</p>
            </div>
            <div class="section-title-big">
              <h3>I love to play with</h3>
            </div>
          </div>
        </div>
      </div>
      <div class="row no-gutters">
        <div class="col-lg-3 col-sm-6">
          <div class="technologies-single html">
            <i class="devicon-html5-plain"></i>
            <p>HTML 5</p>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="technologies-single css">
            <i class="devicon-css3-plain"></i>
            <p>CSS 3</p>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="technologies-single angular">
            <i class="devicon-angularjs-plain"></i>
            <p>Angular</p>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="technologies-single js">
            <i class="devicon-javascript-plain"></i>
            <p>JavaScript</p>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="technologies-single bootstrap">
            <i class="devicon-bootstrap-plain"></i>
            <p>Bootstrap</p>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="technologies-single jquery">
            <i class="devicon-jquery-plain"></i>
            <p>jQuery</p>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="technologies-single sass">
            <i class="devicon-sass-original"></i>
            <p>Sass</p>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="technologies-single git">
            <i class="devicon-git-plain"></i>
            <p>Git</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- /Technologies -->
  <!-- Experience Timeline -->
  <section class="experience">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-title">
            <div class="section-title-mini">
              <p>Experiencce</p>
            </div>
            <div class="section-title-big">
              <h3>Where I've worked</h3>
            </div>
          </div>
          <div class="experience-entries">
            <div class="experience-entries-single">
              <div class="experience-entries-title">
                <h3>Infinity Flames Soft.</h3>
              </div>
              <div class="experience-entries-date">
                <p>
                  <small>2018 - 2019</small>
                </p>
              </div>
              <div class="experience-entries-des">
                <p>Started my career as a Frontend Designer. This is where I learnt design & development. Worked on a few projects for their clients. </p>
              </div>
            </div>
            <div class="experience-entries-single">
              <div class="experience-entries-title big">
                <h3>B-cause Bangladesh LTD</h3>
              </div>
              <div class="experience-entries-date">
                <p>
                  <small>2019</small>
                </p>
              </div>
              <div class="experience-entries-des">
                <p>On July 2019 Started my career as a Frontend engineer at B-cause Inc Bangladesh branch. While I was working there, mostly I my responsibility was to make the design and implement necessary JavaScript for their product "<b>HIWORK</b>" which haven't launched yet.</p>
              </div>
            </div>
            <div class="experience-entries-single">
              <div class="experience-entries-title">
                <h3>YoTech Limited</h3>
              </div>
              <div class="experience-entries-date">
                <p>
                  <small>2019 - 2020</small>
                </p>
              </div>
              <div class="experience-entries-des">
                <p>On February I joined at YoTech Limited as a Web Developer. My responsibility is here to converting XD design to HTML5. After finishing the design make the app on Angular.</p>
                <p>Here I worked on some projects "<b>TRACK</b>" <sub>For HR management system</sub> "<b>JUOOM</b>" <sub>an E-commerce project</sub></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- /Experiencce Timeline -->
  <!-- Certification -->
  <section class="certification">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-title">
            <div class="section-title-mini">
              <p>Certification</p>
            </div>
            <div class="section-title-big">
              <h3>My educational history</h3>
            </div>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="certification-wrapper">
            <!-- Certification single -->
            <div class="certification-single">
              <div class="certification-single-left">
                <i class="fas fa-school"></i>
              </div>
              <div class="certification-single-right">
                <h3>Secondary</h3>
                <p><b>Year:</b> 2012</p>
                <p class="institute">Swarup chandra gov't high school</p>
              </div>
            </div>
            <!-- /Certification Single -->
            <!-- Certification single -->
            <div class="certification-single">
              <div class="certification-single-left">
                <i class="fas fa-graduation-cap"></i>
              </div>
              <div class="certification-single-right">
                <h3>Higher Secondary</h3>
                <p><b>Year:</b> 2014</p>
                <p class="institute">Madan Mohan College</p>
              </div>
            </div>
            <!-- /Certification Single -->
            <!-- Certification single -->
            <div class="certification-single">
              <div class="certification-single-left">
                <i class="fas fa-university"></i>
              </div>
              <div class="certification-single-right">
                <h3>B.Sc in CSE</h3>
                <p><b>Year:</b> 2018</p>
                <p class="institute">Leading University</p>
              </div>
            </div>
            <!-- /Certification Single -->
            <!-- Certification single -->
            <div class="certification-single">
              <div class="certification-single-left">
                <i class="fas fa-medal"></i>
              </div>
              <div class="certification-single-right">
                <h3>Front End Development</h3>
                <p><b>Year:</b> 2018</p>
                <p class="institute">freeCodeCamp</p>
              </div>
            </div>
            <!-- /Certification Single -->
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- /Certification -->
  <!-- Contact -->
  <section class="contact">
    <div class="contact-wrapper">
      <div class="row">
        <div class="col-lg-12">
          <div class="contact-title">
            <p>
              <small>Finally, Here we are!</small>
            </p>
            <h3>Get in touch</h3>
          </div>
          <div class="contact-content">
            <p>Although I'm not currently looking for any new opportunities, my inbox is always open. Whether you have a question or just want to say hi, I'll try my best to get back to you!</p>
          </div>
          <div class="contact-button">
            <a href="mailto:contact@devhabib.com" class="primary-btn">Say Hello</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- /Contact -->
</main>
